<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio Wallpaper</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catAgenda catAktivitas catGraphic catHobbie">Semua</span></li>
            <li><span class="filter" data-filter="catAgenda">Agenda</span></li>
            <li><span class="filter" data-filter="catAktivitas">Aktivitas</span></li>
            <li><span class="filter" data-filter="catGraphic">Graphic</span></li>
            <li><span class="filter" data-filter="catHobbie">Hobbie</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="catAktivitas">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/1.png" rel="portfolio" title="Lokasi ini terletak di Solok Sumatra Barat, tepatnya di Danau Singkarak. Lokasi ini merupakan kampung halaman orangtua saya, dan saya selalu meluangkan waktu liburan untuk mengunjunginya.">
                        <img src="images/portfolio/1.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Solok Sumatra Barat</a>
                                <span class="text-category">Kampung Halaman</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catAktivitas">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/2.png" rel="portfolio" title="Lokasi ini terletak di Solok Sumatra Barat, tepatnya di Puncak Gunung Talang yang memiliki ketinggian 2.597Mdpl.">
                        <img src="images/portfolio/2.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Gunung Talang</a>
                                <span class="text-category">Solok Sumatra Barat</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->
            
            
            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catAgenda">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/3.png" rel="portfolio" title="Lokasi ini terletak di Desa Bukit Kratai Kabupaten Kampar untuk memperingati ulang tahun kemerdekaan Republik Indonesia ke 72 tahun. kegiatan ini merupakan agenda pada saat Kuliah Kerja Nyata.">
                        <img src="images/portfolio/3.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Desa Bukit Kratai Kampar</a>
                                <span class="text-category">Kuliah kerja Nyata</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->
            
            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/4.jpg" title="City" rel="portfolio">				
                        <img src="images/portfolio/4.jpg" alt="Techlion" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">City</a>
                                <span class="text-category">Graphic Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

              <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/1.jpg" title="Nature" rel="portfolio">				
                        <img src="images/portfolio/1.jpg" alt="Techlion" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Nature</a>
                                <span class="text-category">Graphic Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
