<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">TEKNO & DESIGN BLOG </h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Profil Tentang Saya</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Nama</label>
                <span class="value">Muhammad HiDayat</span>
                <div class="clear"></div>
            </li>

	    <li>
                <i class="glyphicon glyphicon-home"></i>
                <label>Tempat Lahir</label>
                <span class="value">Pekanbaru</span>
                <div class="clear"></div>
            </li>
			   
            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Tnggal Lahir</label>
                <span class="value">06 Desember 1995</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Alamat</label>
                <span class="value">Jl.Purwodadi, Pekanbaru</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">hidayat1995.mh@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>No.HP</label>
                <span class="value">081363642550</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Github Page</label>
                <span class="value"><a href="http://mhidayat.github.io" target="_blank">M.HiDayat</a></span>
                <div class="clear"></div>
            </li>
			   
	     <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Visit Link</label>
                <span class="value"><a href="http://sif.uin-suska.ac.id/" target="_blank">Sistem Informasi UIN SUSKA RIAU</a></span><br>
		<span class="value"><a href="http://fst.uin-suska.ac.id/" target="_blank">F.Sains & Teknologi UIN SUSKA RIAU</a></span><br>
		<span class="value"><a href="http://uin-suska.ac.id/" target="_blank">UIN SUSKA RIAU</a></span>    
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Mahasiswa Jurusan Sistem Informasi Fakultas Sains dan Teknologi di Universitas Islam Negeri Sultan Syarif Kasim Riau
           <i class="fa fa-quote-right"></i>    
	</p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.png" alt="UIN SUSKA RIAU" />
            <img src="images/img-profile/about_2.png" alt="UIN SUSKA RIAU" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Layanan Saya</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><a href="https://plus.google.com/u/0/100834385143982608104" target="_blank" title="Muhammad HiDayat"><i class="fa fa-google-plus"></i></a></div>
                <div class="service-detail">
                    <h6>Google+</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><a href="https://www.facebook.com/muhammad.hidayat6" target="_blank" title="Muhammad HiDayat"><i class="fa fa-facebook"></i></a></div>
                <div class="service-detail">
                    <h6>Facebook</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><a href="https://twitter.com/m_hidayat06" target="_blank" title="Muhammad HiDayat"><i class="fa fa-twitter"></i></a></div>
                <div class="service-detail">
                    <h6>Twitter</h6>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->

<div class="clear"></div>
</div>
<!-- End .profile -->
